<form
  [formGroup]="signInForm"
  class="px-4 mt-4 space-y-4"
  (ngSubmit)="onSubmit()"
>
  <div>
    <mat-form-field class="!w-full" subscriptSizing="dynamic">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="yourname@example.com"
        formControlName="email"
      />
    </mat-form-field>
    <ng-container
      *ngIf="
        controls['email'].invalid &&
        (controls['email'].touched ||
          controls['email'].dirty ||
          isSubmitClicked)
      "
    >
      <ng-container *ngFor="let v of validations.email; track: $index">
        <mat-error *ngIf="controls['email'].errors?.[v.validator]">
          {{ v.msg }}</mat-error
        >
        <ng-container
          *ngIf="controls['email'].errors?.[v.validator]; break"
        ></ng-container>
      </ng-container>
    </ng-container>
  </div>

  <div>
    <mat-form-field class="!w-full" subscriptSizing="dynamic">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="isShowPw() ? 'text' : 'password'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="onTogglePw()"
        class="mr-2"
        type="button"
        [attr.aria-label]="isShowPw() ? 'Hide password' : 'Show password'"
        [attr.aria-pressed]="isShowPw()"
      >
        <mat-icon>{{ isShowPw() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <ng-container
      *ngIf="
        (controls['password'].invalid &&
          (controls['password'].touched || controls['password'].dirty)) ||
        isSubmitClicked
      "
    >
      <ng-container *ngFor="let v of validations.password; track: $index">
        <mat-error *ngIf="controls['password'].errors?.[v.validator]">
          {{ v.msg }}</mat-error
        >
        <ng-container
          *ngIf="controls['password'].errors?.[v.validator]; break"
        ></ng-container>
      </ng-container>
    </ng-container>
  </div>

  <button mat-flat-button class="!w-full !rounded-lg !mt-8" type="submit">
    Sign in
  </button>
</form>
